@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

p, button, span, a, label{
  font-family: "Quicksand", sans-serif;

}
.btn {
  background-color: #fe8c45;
  color: white;
  font-weight: 300;
}
.btn:hover {
  border: 1px solid #fe8c45;
}

.pointer{
  cursor: pointer;
}

.mlk{
  margin-left: 2px;
  margin-right: 2px;
}

/************ NAVBAR ************/

.nav-link {
  font-size: 20px;
  transition: color .9s ;
}
.nav-link:hover{
  color: #fe8c45;
  border-bottom: 1px solid #fe8c45;
}


/********** SECTION 1 ************/

.big-font {
  font-size: 100px;
  font-weight: 700;
}
.sameColor {
  color: #8a47f6;
}
.line {
  padding: 0 140px;
  background-color: #8a47f6;
}
.slides {
  height: 22px;
  width: 22px;
  background-color: #ededed;
}
.img-slider{
  width: 58%;
  position: absolute;
  right: 0;
}
